/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.features {
  padding-left: 20px;
}

.important-feature {
  font-weight: bold;
}

#credit_card_details {
  max-width: 300px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.data-group {
  height: 85px;
  position: relative;
}

.credit_card_number {
  position: absolute; 
  padding-left: 36px;
}

.credit_card_expiration {
  position: absolute;
  top: 40px;
  width: 70px;
  right: 0px;
  font-size: 12px;
  text-align: center;
}
.credit_card_name {
  position: absolute;
  top: 40px;
  width: 185px;
  font-size: 12px;
  text-transform: uppercase;
}

.credit_card_type, .credit_card_cvv_type {
  position: absolute;
  width: 24px;
  height: 24px;
  background: #F00;
  z-index: 1000;
  -webkit-transition:background-position .2s ease-in;  
  -moz-transition:background-position .2s ease-in;  
  -o-transition:background-position .2s ease-in;  
  transition:background-position .2s ease-in; 
}

.credit_card_type {
  left: 7px;
  top: 5px;
  background: url("credit_card_type.png");
}

#credit_card_details.visa .credit_card_type {
  background-position: 0px -24px; 
}

#credit_card_details.mastercard .credit_card_type {
  background-position: 0px -72px; 
}

#credit_card_details.amex .credit_card_type {
  background-position: 0px -120px; 
}

#credit_card_details.diners .credit_card_type {
  background-position: 0px -144px; 
}

.credit_card_cvv_type {
  left: 76px;
  top: 15px;
  background: url("credit_card_cvv.png");
}

#credit_card_details.amex .credit_card_cvv_type {
  background-position: 0px -24px; 
}

.payment-select {
  text-align: center;
}

.payment-select .btn-group {
  width: 70%; 
  margin-left: auto;
  margin-right: auto;
}

.btn-group .btn {
  width: 50%; 
}
.well.cvv {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.well.cvv .credit_card_cvv {
  width: 120px; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.well.cvv span {
  display: block;
  margin: 0px;
  font-size: 12px;
  text-align: center;
}

.subscribe-button {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.subscribe-button button {
  margin-top: 20px;
  width: 70%;
}

#credit_card_details .cc_error {
  display: none;
}
